<div class="team team-left">
  <img class="shield" src={{match.home.shield}} />
  <span class="name">{{match.home.name}}</span>
  <strong class="score">{{match.home.score}}</strong>
</div>

<div class="match-details" [ngSwitch]="true">
  <template [ngSwitchCase]="true">x</template>
  <template [ngSwitchCase]="false">{{match.hour}}</template>
</div>

<div class="team team-right">
  <strong class="score">{{match.away.score}}</strong>
  <span class="name">{{match.away.name}}</span>
  <img class="shield" src={{match.away.shield}} />
</div>
