:host {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.team {
  display: flex;
  flex-grow: 1;
  flex-basis: 100px;
  align-items: center;

  .shield {
    margin: 0 10px;
    vertical-align: middle;
    width: 30px;
  }

  .name {
    flex-grow: 1;
  }

  &-left {
    .name {
      text-align: left;
    }
  }

  &-right {
    .name {
      text-align: right;
    }
  }
}

.match-details {
  margin: auto 5px;
}
