:host {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.team {
  display: inline-block;
  width: calc(50% - 30px);
  position: relative;

  &-shield {
    margin: 0 10px;
    vertical-align: middle;
    width: 30;
  }

  &-name {
    display: inline-block;
    width: calc(100% - 50px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &-left {
    text-align: left;

    .team-name {
      right: 0;
    }
  }

  &-right {
    text-align: right;

    .team-name {
      left: 0;
    }
  }
}

.match-details {
  display: inline-block;
  width: 60;
  text-align: center;
}

.x, .score {
  display: inline-block;
}
